
body {
  background-color: #333;
  display: flex;
  flex-direction: column;
}

header {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.07);
  border-bottom: 1px solid #888;
  color: #fff;
  display: flex;
  height: 50px;
  justify-content: center;
}

.btn {
  border: 1px solid #999;
  border-radius: 5%;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
  padding: 6px 15px;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #333;
}

#stage {
  flex-grow: 1;
  position: relative;
}

.dancer {
  background-color: #fff;
  border-radius: 50%;
  height: 15px;
  position: absolute;
  width: 15px;
}
